{% extends 'base.html.twig' %}

{% block title %}DevBlog | Création d'un article{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <div class="row justify-content-between">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title me-auto">
                        {% if article %} Modification {% else %} Création {% endif %} d'un article
                    </h4>
                </div>
                <div class="card-body">
                    <form action="/dashboard/article/{% if article %}{{ article.id }}/update{% else %}create{% endif %}" method="post">
                        {% if article %}
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="id" value="{{ article.id }}">
                        {% endif %}
                        <label class="mt-4 form-label" for="content">
                            Titre
                        </label>
                        <input maxlength="255" type="text" name="title" id="title" class="form-control" {% if article.title %} value="{{ article.title }}"{% endif %} required>

                        <label class="mt-4 form-label" for="content">
                            Contenu
                        </label>
                        <textarea name="content" id="content" class="form-control" style="height: 500px;" required>{% if article.content %} {{ article.content }} {% endif %}</textarea>

                        <label class="mt-4 form-label" for="excerpt">
                            Chapô
                        </label>
                        <textarea maxlength="255" name="excerpt" id="excerpt" class="form-control" required>{% if article.excerpt %} {{ article.excerpt }} {% endif %}</textarea>

                        <label class="mt-4 form-label" for="author">
                            Auteur
                        </label>
                        <select name="author" id="author">
                            <option value="">Choisissez un auteur</option>
                            {% for author in admins %}
                            <option value="{{ author.id }}" {% if author.id == article.userId %}selected{% endif %}>{{ author.firstName }} {{ author.lastName }}</option>
                            {% endfor %}
                        </select>

                        {% if csrf %}
                            <input type="hidden" name="_csrf" value="{{ csrf }}">
                        {% endif %}

                        <input type="submit" class="mt-4 btn btn-lg w-100 btn-primary mb-3" value="{% if article %} Modifier {% else %} Créer {% endif %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}