{% extends 'base.html.twig' %}

{% block title %}DevBlog | Gestion des articles{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <div class="row justify-content-between">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title me-auto">
                        Gestion des articles
                    </h4>

                    <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                        <li class="nav-item">
                            <a href="/dashboard/users" class="nav-link">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link active">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link disabled">Commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a href="#!" class="nav-link disabled">Contacts</a>
                        </li>
                    </ul>

                </div>
                <div class="card-body">
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}"><a class="page-link" href="?page={{ currentPage - 1 }}">Précedent</a></li>
                                {% for page in 1..pages %}
                                    <li class="page-item {{ currentPage == page ? 'active' : '' }}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                <li class="page-item {{ currentPage == pages ? 'disabled' : '' }}"><a class="page-link" href="?page={{ currentPage + 1 }}">Suivant</a></li>
                                <li class="page-item ms-4"><a class="btn btn-success" href="/dashboard/article/create">Créer un article</a></li>

                            </ul>
                        </nav>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Créé le</th>
                            <th scope="col">Modifié le</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td><a href="/user/{{ article.userId }}">{{ article.userFirstName }} {{ article.userLastName }}</a></td>
                                <td>{{ article.createdAt|date('d/m/Y H:i') }}</td>
                                <td>{{ article.updatedAt|date('d/m/Y H:i') }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/dashboard/article/{{ article.id }}/update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-sm btn-danger delete-button" article-id="{{ article.id }}" article-title="{{ article.title }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-sm btn-success" href="/article/{{ article.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# Modal de suppression #}
            <div class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Supprimer un article</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Supprimer l'article "<strong class="modal__text__name"></strong>"</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a type="button" class="btn btn-danger btn__article__delete">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script>

        // Modification et ouverture de la modal
        modal = document.querySelector('.modal');
        deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach((e) => {
            e.addEventListener('click', () => {
                id = e.getAttribute('article-id')
                title = e.getAttribute('article-title')

                deleteArticleButton = document.querySelector('.btn__article__delete');
                deleteArticleButton.setAttribute('href', '/dashboard/article/' + id + '/delete')

                text = modal.querySelector('.modal__text__name');
                text.innerHTML = title + ' (' + id + ')';
                modal.style.display = 'block'
                modal.classList.add('show');
            })
        })

        // Fermuture de la modal
        closeModal = document.querySelectorAll("[data-bs-dismiss=modal]");
        closeModal.forEach((e) => {
            e.addEventListener('click', () => {
                modal.style.display = 'none'
                modal.classList.remove('show');
            })
        })
    </script>
{% endblock %}